<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moni-Fi</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
    
    <form action="..\controllers\process\process_login.php" method="POST">

        <label for="username">Usuario </label>
        <input type="text" placeholder="Inserte su usuario." id="username" name="username" required>

        <label for="password" class="form-label">Contraseña</label>
        <input type="password" placeholder="Inserte su contraseña." id="password" name="password"  required>
        
        <a href="register_user.html">Registrarme</a>

        <button type="submit">Iniciar Sesión</button>

    </form>



</body>
</html>