<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moni-Fi</title>
    <link rel="stylesheet" href="style/loggin_style.css">
</head>
<body>

    <h1 class="login-title">Bienvenido a Moni-Fi</h1>

    <div class = "login_form_container">
        <form action="..\controllers\process\process_login.php" method="POST">

            <div class="username">
                <label for="username">Usuario </label>
                <input type="text" placeholder="Inserte su usuario." id="username" name="username" required>
            </div>

            <div class="password">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" placeholder="Inserte su contraseña." id="password" name="password"  required>
            </div>

            <div class="register">
                <a href="register_user.html">¿No tienes una cuenta?</a>
            </div>

            <div class="input_button">
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>
    </div>

    <img src="character/like.png" alt="Decoración" class="corner-image">


</body>
</html>